.md-typeset h2 {
    font-weight: bold;
    color: #4051b5;
}

.md-typeset h3 {
    font-weight: bold;
    color: #4051b5;
}

.md-typeset p {
    line-height: 180%;
}

.md-typeset blockquote {
    color: inherit;
}
